body {
  display: flex;
  justify-content: space-around;
}
.trans {
  font-size: 16pt;
}

label {
  font-size: 24pt;
}

html {
  display: flex;
  flex-direction: column;
}
.btn {
  display: flex;
  justify-content: space-around;
}
