body {
  display: flex;
  justify-content: space-around;
}
.trans {
  font-size: 16pt;
}

label {
  font-size: 24pt;
}
button {
  border-radius: 5pt;
  border: 1pt solid black;
  background-color: lightgray;
  padding: 2pt;
}

input {
  border-radius: 5pt;
  height: 16pt;
}

.every {
  display: flex;
  flex-direction: column;
}
.btn {
  display: flex;
  justify-content: space-around;
}
